.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;

  &__header {
    font-size: 4.5rem;
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    letter-spacing: 1.5rem;
  }
  &__logo {
    height: 4rem;
    width: 4rem;
  }
}
